
<div id="header">
    <h1> <a href="/">Chapter One Library</a></h1>
    <p>A place for all your book needs</p>
</div>
<nav>
    <label for="show-menu" class="responsive">☰ Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/books">Books</a></li>
        <li><a href="/books/new">Add Book</a></li>
        <li><a href="/users/index">User list</a></li>
        <li><a href="/users/register">Create an account</a></li>
        <% if (typeof username != "undefined" && username) { %>
          <li class="nav-item">
            <a class="nav-link"><%= username %></a>
          </li>
          <li class="nav-item">
            <form action="/logout" method="post">
              <button class="nav-link nav-button">Logout</button>
            </form>
          </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
        </li>
        <% } %>
        <form action="/users/logout" method="post">
          <button class="nav-link nav-button">Logout</button>
        </form>
    </ul>
</nav>
</header>
