<header> <script src="js/login.js" defer></script><div id="content"></div></header> 
  <div class="post">
 
    <h3>Welcome to the book library!</h3>
    

    <h1>Login</h1>
    
   
    <form id="login-user-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <input type="button" value="Login" onclick="postLoginUser()">
   
    </form>
    
   </div>
  </div>
  <!---</div> <button type="submit">Log Out</button> <form action="/logout" method="get">-->