
        <section id="user-list"> </section>
        <script defer src='../js/list_users.js'></script>
        <h1>Hi <%= username %></h1>
        <form action="/logout?_method=DELETE" method="POST">
          <button type="submit">Log Out</button>
        </form>