<div class="container vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>401 - UNAUTHORIZED</h1>
    <h4>Access is allowedd only for registered or admin users.</h4>
    <p>401 Unauthorized (RFC 7235)
        Similar to 403 Forbidden, but specifically for use when authentication is required and has failed or has not yet
        been provided. The response must include a WWW-Authenticate header field containing a challenge applicable to
        the requested resource. See Basic access authentication and Digest access authentication.[31] 401 semantically
        means "unauthorised",[32] the user does not have valid authentication credentials for the target resource.
        Note: Some sites incorrectly issue HTTP 401 when an IP address is banned from the website (usually the website
        domain) and that specific address is refused permission to access a website.[citation needed]</p>
    <h4>Go to <a href="/login">Login</a> page.</h4>
</div>