
<div class="container vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>404 - NOT FOUND</h1>
    <h4>Sorry, the page not found.</h4>
    <h4>Go to <a href="/">Home</a> page.</h4>
</div>
  
<p>The HTTP 404, 404 not found, 404, 404 error, page not found or file not found error message is a hypertext transfer
    protocol (HTTP) standard response code, in computer network communications, to indicate that the browser was able to
    communicate with a given server, but the server could not find what was requested. The error may also be used when a
    server does not wish to disclose whether it has the requested information.[1]

    The website hosting server will typically generate a "404 Not Found" web page when a user attempts to follow a
    broken or dead link; hence the 404 error is one of the most recognizable errors encountered on the World Wide Web.
</p>