<section id="user-list"> </section>

<h1>Hi <%= username %></h1>

<% if (getAllUsers.length > 0) { %>
<% users.forEach(user => { %>

<h3></h3>
<p></p>
<%}) %>
<% } %>


<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>